@font-face {
  font-family: "Asap";
  src:
    url("./assets/fonts/asap/Asap-Medium.woff2") format("woff2"),
    url("./assets/fonts/asap/Asap-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Asap";
  src:
    url("./assets/fonts/asap/Asap-Bold.woff2") format("woff2"),
    url("./assets/fonts/asap/Asap-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Asap";
  src:
    url("./assets/fonts/asap/Asap-Regular.woff2") format("woff2"),
    url("./assets/fonts/asap/Asap-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

#root {
  font-family: "Asap";
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  background: linear-gradient(#004993, #021f3d);

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 4%;

    h1 {
      font-size: 24px;
      width: 60%;
    }

    button {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-color: transparent;
      font-weight: 900;

      background-image: url("./assets/buttons/button-orange-rounded.png");
      color: #fff;
      padding: 10px 50px;

      .title {
        filter: drop-shadow(2px 4px 4px #000);
      }
    }
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 24px;
    row-gap: 5%;

    .card {
      margin: auto;
      width: 223px;
      height: 223px;
      background-color: transparent;
      perspective: 1000px;

      &.open .card-inner {
        transform: rotateY(180deg);
      }

      img {
        width: 223px;
        height: 223px;
        filter: drop-shadow(2px 4px 2px #000);
        cursor: pointer;
        border-radius: 12px;
      }

      &-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      }

      &-front,
      &-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }

      &-back {
        transform: rotateY(180deg);
      }
    }
  }

  .game {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: scroll;
    width: 100vw;
    animation: fadeIn 0.5s ease-out;
    background: linear-gradient(#c2e8ff, #1d65ad);

    &--over {
      background: linear-gradient(#ddffcf, #006633);
    }

    &--slide-rainbow {
      background-image: url("./assets/games/rainbow/Nuotrauka iš Pexels, aut. Moritz Boing.jpg");
      background-size: cover;
      background-position: center bottom;
      overflow: hidden;
      background-repeat: no-repeat;

      .rainbow-wrapper {
        height: 500px;
        overflow: hidden;
        position: absolute;
        bottom: 11%;
        width: 100%;
      }

      .rainbow {
        position: absolute;
        bottom: -75%;
        transform: translateX(65%);
        width: 100%;
        max-width: 800px;
        &:after {
          content: "";
          display: block;
          padding-bottom: 100%;
        }
      }

      .stripe {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: rotate(0) translate(-50%, -50%);
        transform-origin: 0% 0%;
        height: 100%;
        border: 30px solid rgba(255, 255, 255, 0.6);
        border-radius: 50%;
        &:after {
          content: "";
          display: block;
          padding-bottom: 100%;
        }
        &.red {
          width: 100%;
          height: 100%;
        }
        &.orange {
          width: 90%;
          height: 90%;
        }
        &.yellow {
          width: 80%;
          height: 80%;
        }
        &.green {
          width: 70%;
          height: 70%;
        }
        &.blue {
          width: 60%;
          height: 60%;
        }
        &.indigo {
          width: 50%;
          height: 50%;
        }
        &.violet {
          width: 40%;
          height: 40%;
        }
      }
    }

    &--slide-thunder {
      background-image: url("./assets/games/thunder/FONAS. Nuotrauka iš Unsplash, aut. Tasos Mansour.jpg");
      background-size: cover;

      .thunder-body {
        display: flex;
      }

      .thunder-pictures {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 50%;
        gap: 40px;
        margin-left: 4%;

        .thunder-detections {
          display: flex;
          flex-direction: column;
          background-image: url("./assets/buttons/blue-bg-thunder.png");
          background-size: contain;
          background-repeat: no-repeat;
          align-items: center;

          &_title {
            color: #000;
            font-weight: bold;
            padding: 30px 0 20px;
            font-size: 20px;
          }

          button {
            background-image: url("./assets/buttons/button-grey-squared.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-color: transparent;
            font-weight: bold;
            padding: 15px 50px;
            margin-top: 15px;
            height: 70px;

            &.active {
              background-image: url("./assets/buttons/button-green-squared.png");
            }
          }
        }

        .picture-checkbox {
          width: 450px;
          height: 370px;
        }

        .picture-checkbox_customized {
          top: 15px;
        }
      }

      .thunder-result {
        background-image: url("./assets/buttons/blue-bg.png");
        background-repeat: no-repeat;
        background-size: contain;
        margin: 0 5%;
        color: #000;
        font-weight: bold;
        font-size: 20px;
        padding: 40px 60px;
        span {
          display: inline-block;
          overflow-y: auto;
          
          &::-webkit-scrollbar {
            width: 15px;
            height: 215px;
            background-color: #175fb9;
            border: 4px solid #acf3fe;
            border-radius: 8px;
          }
          &::-webkit-scrollbar-thumb {
            background-color: #ffa300;
            border-radius: 8px;
            border: 4px solid #acf3fe;
          }
        }
      }
    }

    &--slide-wind {
      background-image: url("./assets/games/wind/FONAS. Nuotrauka iš Unsplash, aut. Bruno Martins.jpg");
      background-size: cover;
      color: #000;

      .wind-pictures {
        display: flex;
        margin-top: 20px;
        gap: 2%;
        .picture-checkbox {
          height: auto;
          width: 33%;
        } 
      }
      .question_title span{
        color: #000;
      }
      .wind-title {
        background-image: url("./assets/buttons/blue-bg-long.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-repeat: no-repeat;
        padding: 34px 0;
        font-weight: bold;
        text-align: center;
      }
      .wind-question-wrapper {
        width: 70%;
        margin-left: 4%;
      }
      .wind-wrapper {
        display: flex;
        gap: 2%;
      }
      .wind-result {
        display: flex;
        gap: 2%;
        margin-bottom: 20px;
        margin-top: 20px;
        font-weight: bold;
        justify-content: space-between;

        &-text {
          width: 70%;
          background-image: url("./assets/buttons/blue-bg-wind.png");
          background-repeat: no-repeat;
          background-size: contain;
          width: 870px;
          height: 435px;
          padding: 20px 40px;
          box-sizing: border-box;
        }
        &-letters {
          background-image: url("./assets/buttons/blue-bg.png");
          font-size: 20px;
          background-repeat: no-repeat;
          background-size: contain;
          width: 370px;
          height: 450px;
          padding: 20px 40px;
          box-sizing: border-box;
        }
      }
    }

    &--slide-flood {
      background-image: url("./assets/games/flood/Nuotrauka iš Unsplash, aut. Chris Gallagher.jpg");
      background-size: cover;
      
      .flood-questions {
        display: flex;
        font-size: 24px;
        gap: 5%;
        margin: 10px 50px;
        font-weight: bold;
        color: #000;
        .flood-question {
          background-image: url("./assets/buttons/blue-bg-thunder.png");
          background-repeat: no-repeat;
          background-size: contain;
          width: 511px;
          height: 438px;
          box-sizing: border-box;
          padding: 0px 25px;
          .picture-checkbox {
            height: auto;
          }
          &-option {
            display: flex;
            position: relative;
            margin-bottom: 10px;
            align-items: center;
            span {
              margin-left: 10px;
            }
          }
          .picture-checkbox .picture-checkbox_customized input ~ .picture-checkbox_label {
            bottom: -5px;
            left: 5px;
          }
        }
        .picture-checkbox_customized {
          position: relative;
        }
      }
      .flood-result {
        display: flex;
        margin-bottom: 20px;
        margin-top: 20px;
        font-weight: bold;
        background-image: url("./assets/buttons/blue-bg-long-wind.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: 1219px;
        height: 332px;
        margin: auto;
        padding: 30px 60px;
        color: #000;
        font-size: 20px;
      }
    }

    &--slide-sound {
      background-image: url("./assets/games/sound/FONAS. Nuotrauka iš Unsplash, aut. Inkredo Designer.jpg");
      background-size: cover;

      .sounds {
        display: flex;

        .sound-item {
          &__title {
            background-image: url("./assets/buttons/transparent-squared.png");
            background-size: cover;
            width: 232px;
            height: 86px;

            &--highlight {
              outline: 3px solid #1aa7ec;
            }
          }

          &__video {
            position: fixed;
            z-index: -99;
            width: 100%;
            height: 100%;
            top: -10000%;
          }

          img {
            cursor: pointer;
          }
        }
      }
    }

    &--slide-earth {
      background-image: url("./assets/games/earth/FONAS earth.jpg");
      background-size: cover;

      .earth-titles {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        &.titles {
          .title {
            position: static;
          }
        }
      }

      .earths-places {
        display: flex;

        &.titles {
          height: auto;
        }

        .earth-place {
          background-image: url("./assets/buttons/transparent-squared-long.png");
          background-size: cover;
          width: 424px;
          height: 86px;

          &--highlight {
            outline: 3px solid #1aa7ec;
          }

          &.title {
            position: static;
          }
        }
      }
    }

    .question_title {
      font-size: 24px;
      font-weight: bold;
      color: #000;
        flex-grow: 1;
        span {
          width: 60%;
          display: inline-block;
        }
      }
      

    .question_result {
      color: #3f6d09;
      font-weight: 900;
      font-size: 24px;
      flex-grow: 1;
      span {
        display: inline-block;
        width: 60%;
      }
    }

    .question_close {
      background-image: url("./assets/buttons/button_cross.png");
      width: 40px;
      height: 40px;
      padding: 0;
      margin-left: 30px;
      flex-grow: 0;
    }

    .question_check {
      padding: 17px 25px;
      &[disabled] {
        outline: none;
        border: none;
        background-image: url("./assets/buttons/button-transparent-squared.png");

        .title {
          filter: none;
          color: #dadada;
        }
      }
    }

    .pictures {
      display: flex;
      width: 90%;
      justify-content: space-between;
      margin: auto;

      .picture {
        &--highlight {
          outline: 3px solid #1aa7ec;
        }
      }
    }

    .titles {
      height: 500px;
      position: relative;

      .title {
        position: absolute;
        background-image: url("./assets/buttons/button-grey-squared-long.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        font-size: 24px;
        font-weight: bold;
        color: #000;
        height: 60px;
        width: 315px;
        text-align: center;
        line-height: 50px;

        &--hidden {
          display: none;
        }

        &--dragging {
          opacity: 0.2;
        }
      }
    }
  }
}

.snowflake-caption {
  background-image: url("./assets/buttons/button-grey-squared-long.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  display: block;
  font-size: 24px;
  font-weight: bold;
  color: #000;
  height: 60px;
  width: 315px;
  text-align: center;
  line-height: 50px;
  margin-top: 10px;
  margin-left: 0;
}

.cloud-description-result {
  position: absolute;

  .snowflake-caption {
    position: static;
    width: 100%;
    display: inline-block;
    line-height: 60px;
    height: 75px;
    margin-top: 15px;
    position: relative;
    z-index: 100;
    left: -20px;
  }
}

.cloud-description {
  background-image: url("./assets/buttons/blue-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  color: #000;
  font-size: 20px;
  font-weight: 500;
  width: 417px;
  height: 454px;
  padding: 25px 20px;
  box-sizing: border-box;
  position: relative;
  font-size: 19px;
  top: -20px;
  left: -20px;
}

.clouds-wrapper {
  .cloud-item {
    position: absolute;
  }
  div:first-child {
    bottom: 30%;
    right: 12%;
  }
  div:nth-child(2) {
    bottom: 55%;
    right: 20%;
  }
  div:nth-child(3) {
    bottom: 75%;
    right: 30%;
  }
  div:nth-child(4) {
    bottom: 0;
    left: 10%;
  }
  div:nth-child(5) {
    bottom: 30%;
    left: 10%;
  }
  div:nth-child(6) {
    bottom: 55%;
    left: 17%;
  }
  div:nth-child(7) {
    bottom: 75%;
    left: 25%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.picture {
  width: 22%;
  position: relative;
}

.picture-checkbox {
  position: relative;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  .picture-checkbox_customized {
    position: absolute;
    bottom: 5px;
    right: 5px;
    border-radius: 3px;
    width: 35px;
    height: 35px;
    input {
      appearance: none;
      width: 100%;
      position: relative;
      height: 100%;
      z-index: 100;
      ~ .picture-checkbox_label {
        background: #fff;
        position: absolute;
        bottom: 5px;
        right: 5px;
        border-radius: 3px;
        width: 35px;
        height: 35px;
      }
      &:checked ~ .picture-checkbox_label {
        background: transparent;

        &::before {
          content: "";
          background-image: url("./assets/buttons/button_checkbox.png");
          width: 100%;
          height: 100%;
          background-size: contain;
          position: absolute;
          top: 0px;
          bottom: 0;
        }
      }
    }
  }
}

.melting-ice-river {
  background-image: url("./assets/games/melting-ice/Nuotrauka iš Pexels, aut. Mikhail Nilov.jpg");
  background-size: cover;
  height: 60vh;
  background-position: center;
  max-width: 100%;
  width: 90%;
  margin: auto;
}

@media screen and (max-width: 1650px) {
  .cloud-description-result .snowflake-caption {
    height: 60px;
    line-height: 50px;
  }
  .cloud-description {
    width: auto;
    left: 0;
    span {
      display: inline-block;
      height: 290px;
      overflow: auto;
      &::-webkit-scrollbar {
        width: 15px;
        height: 215px;
        background-color: #175fb9;
        border: 4px solid #acf3fe;
        border-radius: 8px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #ffa300;
        border-radius: 8px;
        border: 4px solid #acf3fe;
      }
    }
  }
  .cloud-description-result .snowflake-caption {
    left: 0;
  }

  .main .game--slide-rainbow {
    .rainbow-wrapper {
      bottom: 14%;
    }
    .rainbow {
      transform: translateX(50%);
    }
  }
  .main .game--slide-thunder {
    .thunder-pictures .picture-checkbox {
      width: 360px;
      height: 290px;
    }
    .thunder-result {
      max-height: 535px;
    }
  }
  .main .game--slide-wind .wind-title {
    padding: 22px 0;
  }

  .clouds-wrapper {
    .cloud-item {
      position: absolute;
    }
    div:first-child {
      bottom: 30%;
      right: 5%;
    }
    div:nth-child(2) {
      bottom: 55%;
      right: 10%;
    }
    div:nth-child(3) {
      bottom: 75%;
      right: 20%;
    }
    div:nth-child(4) {
      bottom: 0;
      left: 10%;
    }
    div:nth-child(5) {
      bottom: 30%;
      left: 10%;
    }
    div:nth-child(6) {
      bottom: 55%;
      left: 17%;
    }
    div:nth-child(7) {
      bottom: 75%;
      left: 25%;
    }
  }
}
