@font-face {
  font-family: "Asap";
  src:
    url("./assets/fonts/asap/Asap-Medium.woff2") format("woff2"),
    url("./assets/fonts/asap/Asap-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Asap";
  src:
    url("./assets/fonts/asap/Asap-Bold.woff2") format("woff2"),
    url("./assets/fonts/asap/Asap-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Asap";
  src:
    url("./assets/fonts/asap/Asap-Regular.woff2") format("woff2"),
    url("./assets/fonts/asap/Asap-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

#root {
  font-family: "Asap";
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  background: linear-gradient(#004993, #021F3D);

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 4%;

    h1 {
      font-size: 24px;
      width: 60%;
    }

    button {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-color: transparent;
      font-weight: 900;
  
      background-image: url("./assets/buttons/button-orange-rounded.png");
      color: #fff;
      padding: 10px 50px;
  
      .title {
        filter: drop-shadow(2px 4px 4px #000);
      }
    }
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 24px;
    row-gap: 5%;

    .card {
      margin: auto;
      width: 223px;
      height: 223px;
      background-color: transparent;
      perspective: 1000px;

      &.open .card-inner {
        transform: rotateY(180deg);
      }

      img {
        width: 223px;
        height: 223px;
        filter: drop-shadow(2px 4px 2px #000);
        cursor: pointer;
        border-radius: 12px;
      }

      &-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      }
      
      &-front, &-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
      
      &-back {
        transform: rotateY(180deg);
      }
    }
  }

  .game {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    animation: fadeIn 0.5s ease-out; 
    background: linear-gradient(#C2E8FF, #1D65AD);

    .rain {
      .question_title {
        font-size: 24px;
        font-weight: bold;
        color: #000;
        flex-grow: 1;
        span {
          width: 60%;
          display: inline-block;
        }
      }

      .question_close {
        background-image: url("./assets/buttons/button_cross.png");
        width: 40px;
        height: 40px;
        padding: 0;
        margin-left: 30px;
        flex-grow: 0;
      }

      .pictures {
        display: flex;
        width: 90%;
        justify-content: space-between;
        margin: auto;      }

      .titles {
        height: 500px;
        position: relative;

        .title {
          position: absolute;
        }
      }
    }
  }
}

@keyframes fadeIn {  
  from {  
      opacity:0;  
  }  

  to {  
      opacity:1;  
  }  
}

.picture-checkbox {
  width: 22%;
  position: relative;
  img {
    width: 100%;
    height: 100%;
  }
  .picture-checkbox_label {
    position: absolute;
    bottom: 5px;
    right: 5px;
    border-radius: 3px;
    background: #fff;
    width: 35px;
    height: 35px;
    input {
      visibility: hidden;
    }
  }
}
