@font-face {
  font-family: "Asap";
  src:
    url("./assets/fonts/asap/Asap-Medium.woff2") format("woff2"),
    url("./assets/fonts/asap/Asap-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Asap";
  src:
    url("./assets/fonts/asap/Asap-Bold.woff2") format("woff2"),
    url("./assets/fonts/asap/Asap-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Asap";
  src:
    url("./assets/fonts/asap/Asap-Regular.woff2") format("woff2"),
    url("./assets/fonts/asap/Asap-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

#root {
  font-family: "Asap";
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  background: linear-gradient(#004993, #021F3D);

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 4%;

    h1 {
      font-size: 24px;
      width: 60%;
    }

    button {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-color: transparent;
      font-weight: 900;
  
      background-image: url("./assets/buttons/button-orange-rounded.png");
      color: #fff;
      padding: 10px 50px;
  
      .title {
        filter: drop-shadow(2px 4px 4px #000);
      }
    }
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 24px;
    row-gap: 5%;

    .card {
      margin: auto;
      width: 223px;
      height: 223px;
      background-color: transparent;
      perspective: 1000px;

      &.open .card-inner {
        transform: rotateY(180deg);
      }

      img {
        width: 223px;
        height: 223px;
        filter: drop-shadow(2px 4px 2px #000);
        cursor: pointer;
        border-radius: 12px;
      }

      &-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      }
      
      &-front, &-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
      
      &-back {
        transform: rotateY(180deg);
      }
    }
  }

  .game {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: scroll;
    width: 100vw;
    animation: fadeIn 0.5s ease-out; 
    background: linear-gradient(#C2E8FF, #1D65AD);

    &--slide-rainbow {
      background-image: url("./assets/games/rainbow/Nuotrauka iš Pexels, aut. Moritz Boing.jpg");
      background-size: cover;

      .rainbow {
        width: 200px;
        height: 100px;
        position: relative;
        overflow: hidden;
      }
      
      .stripe {
        position: absolute;
        width: 100%;
        height: 100%;
        transform-origin: bottom center;
      }
      
      .red {
        background: red;
      }
      
      .orange {
        background: linear-gradient(to top, orange 50%, transparent 50%);
        transform: rotate(51.4deg);
      }
      
      .yellow {
        background: linear-gradient(to top, yellow 50%, transparent 50%);
        transform: rotate(102.8deg);
      }
      
      .green {
        background: linear-gradient(to top, green 50%, transparent 50%);
        transform: rotate(154.2deg);
      }
      
      .blue {
        background: linear-gradient(to top, blue 50%, transparent 50%);
        transform: rotate(205.6deg);
      }
      
      .indigo {
        background: linear-gradient(to top, indigo 50%, transparent 50%);
        transform: rotate(257deg);
      }
      
      .violet {
        background: linear-gradient(to top, violet 50%, transparent 50%);
        transform: rotate(308.6deg);
      }
    }

    &--over {
      background: linear-gradient(#DDFFCF, #006633);
    }

    .rain, .snowflake {
      .question_title {
        font-size: 24px;
        font-weight: bold;
        color: #000;
        flex-grow: 1;
        span {
          width: 60%;
          display: inline-block;
        }
      }

      .question_result {
        color: #3F6D09;
        font-weight: 900;
        font-size: 24px;
        flex-grow: 1;
        span {
          display: inline-block;
          width: 60%;
        }
      }

      .question_close {
        background-image: url("./assets/buttons/button_cross.png");
        width: 40px;
        height: 40px;
        padding: 0;
        margin-left: 30px;
        flex-grow: 0;
      }

      .question_check {
        padding: 17px 25px;
        &[disabled] {
          outline: none;
          border: none;
          background-image: url("./assets/buttons/button-transparent-squared.png");
          
          .title {
            filter: none;
            color: #DADADA;
          }
        }
      }

      .pictures {
        display: flex;
        width: 90%;
        justify-content: space-between;
        margin: auto;      

        .picture {
          &--highlight {
            outline: 3px solid #1AA7EC;
          }
        }
      }

      .titles {
        height: 500px;
        position: relative;

        .title {
          position: absolute;
          background-image: url("./assets/buttons/button-grey-squared-long.png");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: top center;
          font-size: 24px;
          font-weight: bold;
          color: #000;
          height: 60px;
          width: 315px;
          text-align: center;
          line-height: 50px;

          &--hidden {
            display: none;
          }

          &--dragging {
            opacity: 0.2;
          }
        }
      }
    }
  }
}

.snowflake-caption {
  background-image: url("./assets/buttons/button-grey-squared-long.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  font-size: 24px;
  font-weight: bold;
  color: #000;
  height: 60px;
  width: 315px;
  text-align: center;
  line-height: 50px;
}

.cloud-description-result {
  position: absolute;
  

  .snowflake-caption {
    position: static;
    width: 100%;
    display: inline-block;
    line-height: 60px;
    height: 75px;
    margin-top: 15px;
    position: relative;
    z-index: 100;
  }
}

.cloud-description {
  background-image: url("./assets/buttons/blue-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  color: #000;
  font-size: 20px;
  font-weight: 500;
  width: 100%;
  height: 500px;
  padding: 25px 20px;
  position: relative;
  top: -20px;
  left: -20px;
}

@keyframes fadeIn {  
  from {  
      opacity:0;  
  }  

  to {  
      opacity:1;  
  }  
}

.picture {
  width: 22%;
  position: relative;
}

.picture-checkbox {
  position: relative;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  .picture-checkbox_customized {
    position: absolute;
    bottom: 5px;
    right: 5px;
    border-radius: 3px;
    width: 35px;
    height: 35px;
    input {
      appearance: none;
      width: 100%;
      position: relative;
      height: 100%;
      z-index: 100;
      ~ .picture-checkbox_label {
          background: #fff;
          position: absolute;
          bottom: 5px;
          right: 5px;
          border-radius: 3px;
          width: 35px;
          height: 35px;
      }
      &:checked~.picture-checkbox_label {
        background: transparent;

        &::before {
          content: '';
          background-image: url("./assets/buttons/button_checkbox.png");
          width: 100%;
          height: 100%;
          background-size: contain;
          position: absolute;
          top: 0px;
          bottom: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 1650px) {
  .cloud-description-result .snowflake-caption {
    height: 60px;
    line-height: 50px;
  }
}