@font-face {
    font-family: 'Moonglow';
    src: url("./fonts/Moonglow Semibold Extended.otf");
}

*{
    margin: 0; 
    padding: 0; 
}

a {
    color: #7f756b;
    text-decoration: unset;
    letter-spacing: 10px;
}

#content {
    background-image: url("./images/Fish_museum.png");
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-wrapper {
    position: relative;
    height: 12vh;
    display: inline-block;
}

.image {
    height: 100%;
}

.image-wrapper:active .active-image {
    opacity: 1;
  }

.active-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    height: 100%;
}

.title {
    margin-top: 5vh;
    margin-bottom: 2vh;
    font-family: 'Moonglow';
    font-size: 60px;
    color: #7f756b;
    letter-spacing: 25px;
}

.mesta {
    margin-top: 15vh;
}

.velik {
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.map {
    width: 100%;
    border-top: 3px solid #554B40;
    border-bottom: 3px solid #554B40;
    margin-top: 5px;
    max-height: 70%;
}

.back-button {
    /* position: absolute;
    bottom: 7vh;
    font-size: 60px;
    background-image: url("./images/button_back.svg");
    width: 440px;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    font-family: 'Moonglow'; */
    width: 10%;
}

.languages img {
    width: 75px;
    height: auto;
    margin: 0 10px;
}

.header {
    max-height: 10%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 3px solid #554B40;
}

.header img {
    max-width: 50%;
}

.footer {
    display: flex;
    width: 100%;
    border-top: 3px solid #554B40;
    margin-top: 5px;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}

.footer img {
    height: auto;
    max-width: 100%;
}

.footer .image-wrapper {
    display: flex;
    align-items: center;
}

.footer .languages {
    display: flex;
    width: 20%;
}

.steps {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-top: 5px;
}

.steps img {
    height: 130px;
    width: auto;
}

